:root {
  --primary-color: #b009e8;
  --background-color: rgba(247, 247, 247, 0.8);
  --text-color: #000000;
  --link-hover-color: #345a9e;
  --button-bg-color: #e0e0e0;
  --button-hover-bg-color: #d0d0d0;
}


h1 {
  text-shadow: 2px 2px 3.5px #000000;
  color: var(--primary-color);
  margin-bottom: 16px;
}

body {
  background: rgb(249,126,180);
  background: radial-gradient(circle, rgba(249,126,180,1) 0%, rgba(58,148,255,1) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 18px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  margin: 3px;
  padding: 3px;
  line-height: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  min-height: 100vh;
  padding: 16px;
}

label {
  display: block;
  margin-bottom: 12px;
  font-weight: 500;
  color: var(--primary-color);
}
