/* Estilo general del body */
body {
    background: rgb(249,126,180);
    background: radial-gradient(circle, rgba(249,126,180,1) 0%, rgba(58,148,255,1) 100%);
    font-family: "Poppins", sans-serif;
    background-color: #252525;
    color: #252525;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  h1 {
    text-shadow: 2px 2px 3.5px #000000;
    margin-bottom: 16px;
  }
  
  .container-app {
    text-align: center;
    padding: 20px;
    background-color: #ffffff53;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 25rem;
  }
  
  h1 {
    font-size: 28px;
    color: #8800ff;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 18px;
    color: #252525d4;
    margin-bottom: 20px;
  }
  
  hr {
    border: 0;
    height: 1px;
    background-color: #ced4da;
    margin-bottom: 30px;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff53;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .container-select {
    margin-bottom: 20px;
  }
  
  .label-select {
    font-family: "Poppins";
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #6e06ff;
    font-weight: 600;
  }
  
  select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #ffffff53;
    color: #495057;
    transition: border-color 0.3s ease;
  }
  
  select:focus {
    border-color: rgb(7, 234, 255);
    outline: none;
  }
  
  option {
    color: #676767;
  }
  
  .error-message {
    color: #dc3545;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .spinner {
    display: block;
    margin: 0 auto;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #007bff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .ciudad-info {
  background-color: #ffffff53;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.ciudad-info h3 {
  margin-bottom: 10px;
}
